.app-start {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.diff-main {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.diff-title {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 0.9rem;
    color: #999999;
}

.diff-workspace {
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    min-width: 90vw;
    flex: 1;
}

.diff-workspace .pane-loader {
    overflow: visible;
    position: relative;
    text-align: center;
    flex: 1;
}

.diff-workspace .app-loader-spinner {
    font-size: 120px;
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    top: 50%;
    margin: -60px auto 0 auto;
}

.diff-workspace .diff-pane .app-loader-spinner {
    font-size: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -15px auto 0 auto;
}


.download-file-input {
    display: none;
}

.diff-tools {
    clear: both;
    box-shadow: 0 2px 2px #CCCCCC;
    overflow: auto;
    flex: 0 1 auto;
    /*position: relative;*/
}

.diff-toolbar {
    text-align: right;
    padding: 3px 10px;
    min-height: 26px;
}

.diff-toolbar-button {
    color: #666666;
    text-decoration: none;
}

.diff-toolbar-button:hover {
    color: #000000;
}

.server-list {
    background: #eeeeee;
    border-top: 1px solid #EEEEEE;
    background: linear-gradient(to top, #eeeeee 0%,#ffffff 100%);
    padding: 5px 10px;
    display: flex;
    overflow: auto;
    clear: both;
    height: 38px;
}


.server-list-wrapper {
    flex: 1 1 auto;
    padding: 5px 0;
}

.add-server-link {
    flex: 0 0 30px;
}

.diff-action-toolbar {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 90%;
    text-align: center;
}

.diff-action-link {
    margin: 0 5px;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 3px 5px;
    text-decoration: none;
    color: #666666;
}

.diff-action-link:hover {
    text-decoration: none;
    color:#FFFFFF;
    background-color: #999999;
}

.server-action-button {
    text-decoration: none;
    color: #999999;
    padding: 3px 10px;
    border: 1px solid #999999;
    border-radius: 4px;
}

.server-action-button:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: #999999;
}

.add-server-link {
    color: #009900;
    border-color: #009900;
}

.add-server-link:hover {
    color: #FFFFFF;
    background: #009900;
}

.delete-server-link:hover {
    color: #FFFFFF;
    background-color: #CC0000;
    border-color: #CC0000;
}

.diff-panes {
    flex: 1 1 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.diff-panes-inner {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: space-between;
}

.edit-server-modal .form-row {
    min-width: 60vw;
    display: flex;
}

.edit-server-modal .form-row label {
    flex: 0 1 200px;
}

.edit-server-modal .form-row input {
    flex: 1 1 auto;
}

.edit-server-modal .form-row label.required:after {
    content: '*';
}

.modal-message {
    text-align: center;
    padding: 5px 0 10px 0;
}

.modal-message.error {
    color: #990000;
}


.diff-pane {
    flex: 0 1 auto;
    min-width: 45%;
    border: 1px solid #CCCCCC;
    padding: 5px 0px;
    display: flex;
    flex-flow: column;
    position: relative;
}

.diff-pane-middle {
    position: relative;
}

.diff-pane-middle-hidden {
    visibility: hidden;
}

.diff-pane-middle-hidden:hover {
    visibility: visible;
}

.switch-panes-link {
    flex: 0 0 30px;
    align-self: center;
    color: #666666;
    text-decoration: none;
}

.switch-panes-link:hover {
    text-decoration: none;
    color: #000000;
}

.diff-pane-inner {
    display: flex;
    flex: 1;
}

.diff-server-list {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.table-list {
    flex: 1;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.table-list ul {
    margin: 0;
    padding: 0 5px;
}
.table-list li {
    margin: 0;
    list-style: none;
}

.table-list > li > div {
    padding: 4px 0;
    font-weight: bold;
}

.table-list li li {
    display: flex;
}

.table-list li li label {
    flex: 1 1 auto;
    text-align: left;
    padding: 3px 0;
}

.table-list li li label span,
.table-list-mismatch li label {
    pointer-events: none;
}

.table-list li.hovered,
.table-list li.active {
    background-color: #DDDDDD;
}

.theme-dark .table-list li.hovered,
.theme-dark .table-list li.active {
    background-color: #000000;
}


.table-list-mismatch li {
    padding: 4px 0;
}

.diff {

}

.compare {
    padding: 0 5px;
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.compare-inner {
    max-width: 99vw;
    flex: 1 1 auto;
    overflow: auto;
}

.compare-table-wrapper {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    overflow: auto;
}

.table-compare {
    border: 1px solid #CCCCCC;
    margin: 10px 5px;
}
.table-compare h3 {
    margin: 0 auto;
}

.table-compare h4 {
    font-size: 1rem;
    margin: 5px auto;
}

.table-top-tools {
    position: absolute;
    right: 0;
    top: 0px;
}

.table-top-tools input {
    display: inline-block;
    margin: 5px;
    border: 1px solid #999999;
    color: #666666;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 5px;
}

.table-top-tools input:hover {
    color: #FFFFFF;
    background: #999999;
}

.compare-table,
.compare-table th,
.compare-table td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 3px 5px;
}

.compare-table th {
    word-break: all;
}

.compare-table label {
    display: flex;
}

.compare-table label input {
    flex: 0 0 30px;
}

.compare-table label span {
    flex: 1 1 auto;
    text-align: left;
}

.compare-table .hidden-checkbox {
    visibility: hidden;
    pointer-events: none;
}

.compare-table .delimiter-cell {
    border: none;
    background: #EEEEEE;
}

.diff-queries pre {
    width: 70vw;
    height: 50vh;
    overflow: auto;
}

.diff-queries-actions a {
    color: #666666;
    border: 1px solid #999999;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 4px;
    margin: 0 5px;
}
.diff-queries-actions a:hover {
    color: #FFFFFF;
    background: #999999;
    text-decoration: none;
}

.compare-tools {
    flex: 1 1 auto;
    padding: 5px 0;
    border: 1px solid #CCCCCC;
    min-height: 35px;
}

.compare-tools-active{
    background: #EEEEEE;
}

.compare-tools a {
    display: inline-block;
    color: #666666;
    border: 1px solid #999999;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 4px;
    margin: 0 5px;
}

.compare-tools a:hover {
    color: #FFFFFF;
    background: #999999;
    text-decoration: none;
}

.table-tools {
    margin-right: 5px;
    pointer-events: none;
}
.table-tools-link {
    color: #666666;
    text-decoration: none;
    margin: 0 2px;
    pointer-events: all;
}

.theme-dark .table-tools-link {
    color: #CCCCCC;
}

.no-servers {
    text-align: center;
}

.no-compare-results {
    font-size: 1.5rem;
}

.table-compare h3.table-omitted {
    margin: 20px auto;
    color: #990000;
}

.connection-error {
    margin: 30px auto;
    font-size: 1.2rem;
    color: #990000;
}

.compare-inner {
    margin-bottom: 5px;
    border: 1px solid #CCCCCC;
}
.compare-inner .table-name {
    font-size: 1.2rem;
}

.compare-inner .toggle-table,
.compare-inner .toggle-table-data {
    color :#666666;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1rem;
}

.compare-inner .toggle-table:hover,
.compare-inner .toggle-table-data:hover {
    text-decoration: none;
    color: #000000;
}