<div class="main">
    <template v-if="appState.appError.error">
        <app-error ref="appError"></app-error>
    </template>
    <template v-else-if="appState.status.appShuttingDown">
        <app-loader ref="appShutdownLoader"></app-loader>
    </template>
    <template v-else-if="appState.status.appInitialized">
        <div class="app-main-inner">
            <h1>Default app-main view</h1>
            <div v-if="hasCustomData || savedDataChanged" class="app-main-section app-main-clear-data">
                <h2>User data</h2>
                <input v-if="hasCustomData" type="button" @click.prevent="resetUserData" value="Reset user data" />
                &nbsp;
                <input v-if="savedDataChanged" type="button" @click.prevent="saveUserData" value="Save user data" />
            </div>
            <div class="app-main-section app-main-message-test">
                <h2>Test user messages and debug</h2>
                <label>Count: </label>
                <select name="count" v-model.number="messageCount">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                </select>
                &nbsp;
                <label>Type: </label>
                <select name="type" v-model="messageType">
                    <option value="debug">debug</option>
                    <option value="info">info</option>
                    <option value="delimiter">delimiter</option>
                    <option value="warning">warning</option>
                    <option value="error">error</option>
                    <option value="random">random</option>
                </select>
                &nbsp;
                <label>
                    User message:
                    <input type="checkbox" value="1" v-model="logMessage" />
                </label>
                &nbsp;
                <label>
                    Debug message:
                    <input type="checkbox" value="1" v-model="logDebug" />
                </label>
                &nbsp; <input type="button" @click.prevent="testMessage" :value="'log X ' + messageCount" />
                &nbsp; <input v-bind:class="{'button-disabled': !(appState.debugMessages.length + appState.userMessages.length)}" type="button" @click.prevent="clearMessages" value="Clear all" />
            </div>
            <div class="app-main-section app-main-operation-test">
                <h2>Test app operation and statuses</h2>
                <div class="app-main-operation-info">
                    <div class="app-main-operation-info-section app-main-operation-info-progress" v-bind:class="{'highlighted': operationStatusChanging}">
                        In progress: <span class="fa" v-bind:class="{'fa-square-o': !operationInProgress, 'fa-check-square-o': operationInProgress}"></span>&nbsp;
                    </div>
                    <div class="app-main-operation-info-section app-main-operation-info-simulating" v-bind:class="{'highlighted': simulationStatusChanging}">
                        Simulating: <span class="fa" v-bind:class="{'fa-square-o': !isSimulating, 'fa-check-square-o': isSimulating}"></span>&nbsp;
                    </div>
                </div>
                <br />
                <label>
                    Operation value (length)
                </label>
                &nbsp;
                <input v-model="maxOperationValue" class="range-input" type="range" :min="1" :max="maxOperationValueLimit" step="1" /> <input @keyup="checkMaxOperationValueInput" type="number" v-model="maxOperationValue" :min="1" :max="maxOperationValueLimit" />
                <br />
                <br />
                <label>
                    Cancelable:
                    <template v-if="!appState.appOperation.operationActive">
                        <input type="checkbox" value="1" v-model="cancelable" />
                    </template>
                    <template v-else>
                        <span class="fa" v-bind:class="{'fa-square-o' : !cancelable, 'fa-check-square-o': cancelable}"></span>
                    </template>
                </label>
                &nbsp;
                <label>
                    Log progress:
                    <template v-if="!appState.appOperation.operationActive">
                        <input type="checkbox" value="1" v-model="logProgress" />
                    </template>
                    <template v-else>
                        <span class="fa" v-bind:class="{'fa-square-o' : !logProgress, 'fa-check-square-o': logProgress}"></span>
                    </template>
                </label>
                &nbsp; <input v-bind:class="{'button-disabled': appState.appOperation.operationActive}" type="button" @click.prevent="operationStart" value="operationStart" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="operationFinish" value="Finish" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || isSimulating}" type="button" @click.prevent="simulateProgress" value="Simulate progress" />
                &nbsp; <input v-bind:class="{'button-disabled': !isSimulating }" type="button" @click.prevent="stopSimulating" value="Stop simulating" />
                &nbsp;
                <label>
                    Speed
                </label>
                &nbsp;
                <input v-model="speed" class="range-input" type="range" :min="minSpeed" :max="maxSpeed - 1" step="1" /> <input @keyup="checkSpeedInput" type="number" v-model="speed" :min="minSpeed" :max="maxSpeed - 1" />
                <br />
                <br />
                <label>Step value: </label>
                <select name="stepValue" v-model="stepValue">
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
                &nbsp; &nbsp; &nbsp;
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) >= (100 - stepValue)}" type="button" @click.prevent="operationIncrement" :value="'Increment progress (+' + stepValue + ')'" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) <= stepValue}" type="button" @click.prevent="operationDecrement" :value="'Decrement progress (-' + stepValue + ')'" />
                <br />
                <br />
                <label>App status: </label>
                <select name="status" v-model="appState.status.appStatus">
                    <option value="error">error</option>
                    <option value="idle">idle</option>
                    <option value="busy">busy</option>
                    <option value="success">success</option>
                    <option value="working">working</option>
                    <option value="offline">offline</option>
                </select>
            </div>
            <div class="app-main-section app-main-modal-test">
                <h2>Test modal</h2>
                <label>
                    Animate size:
                    <input type="checkbox" value="1" v-model="animateTestModal" />
                </label>
                &nbsp;
                <label>
                    Auto close
                    <input type="checkbox" value="1" v-model="autoCloseModal" />
                </label>
                &nbsp;
                <label>
                    Show close link
                    <input type="checkbox" @change="modalCheckboxChange" data-model="showCloseLink" v-model="showCloseLink" />
                </label>
                <br />
                <br />
                <label>
                    Show confirm button
                    <input type="checkbox" @change="modalCheckboxChange" data-model="showConfirmButton" v-model="showConfirmButton" />
                </label>
                &nbsp;
                <label>
                    Confirm disabled
                    <input type="checkbox" @change="modalCheckboxChange" data-model="confirmDisabled" v-model="confirmDisabled" />
                </label>
                &nbsp;
                <label>
                    Confirm selected
                    <input type="checkbox" @change="modalCheckboxChange" data-model="confirmSelected" v-model="confirmSelected" />
                </label>
                <br />
                <br />
                <label>
                    Show cancel button
                    <input type="checkbox" @change="modalCheckboxChange" data-model="showCancelButton" v-model="showCancelButton" />
                </label>
                &nbsp;
                <label>
                    Cancel disabled
                    <input type="checkbox" @change="modalCheckboxChange" data-model="cancelDisabled" v-model="cancelDisabled" />
                </label>
                &nbsp;
                <label>
                    Cancel selected
                    <input type="checkbox" @change="modalCheckboxChange" data-model="cancelSelected" v-model="cancelSelected" />
                </label>
                <br />
                <br />
                <input type="button" @click.prevent="openTestModal" value="Open test modal" />
            </div>
            <div class="app-main-section app-main-data">
                <div class="app-main-user-config">
                    <h2>User config</h2>
                    <inspector-json v-bind:allowDrag="false" ref="userConfigInspector" v-bind:jsonData="appState.userConfig" v-bind:collapsed="1"></inspector-json>
                </div>
                <div class="app-main-app-info">
                    <h2>App info</h2>
                    <inspector-json v-bind:allowDrag="false" ref="appInfoInspector" v-bind:jsonData="appInfoJsonData" v-bind:collapsed="1"></inspector-json>
                </div>
            </div>
        </div>

    </template>
    <template v-else>
        <app-loader ref="appMainLoader"></app-loader>
    </template>
</div>