.app-main-inner {
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    overflow: auto;
}

.app-main-inner h1 {
    flex: 0 1 auto;
    margin: 5px auto;
    padding: 0px;
}

.app-main-inner h2 {
    margin: 3px auto 5px auto;
}

.app-main-inner input {
    cursor: pointer;
    color: #CCCCCC;
}

.app-main-inner input[type=button] {
    transition-property: background, background-color, border-color, color;
    transition-timing-function: linear;
    transition-duration: var(--short-animation-duration);
}

.app-main-inner input[type=button]:hover {
    transition-duration: 0s;
    background: #999999;
    color: #000000;
}

.app-main-inner input.button-disabled,
.app-main-inner input.button-disabled:hover {
    color: #999999;
    border-color: #999999;
    background: #666666;
    cursor: not-allowed;
}

.app-main-section {
    border: 1px solid #666666;
    margin: 5px 0;
    padding: 0px 5px 5px 5px;
    text-align: center;
    flex: 1 1 auto;
}

.app-main-inner .user-data-count {
    display: inline-flex;
    min-width: 36px;
    justify-content: space-around;
}

.app-main-inner .user-data-variables {
    display: inline-block;
    min-width: 60px;
    text-align: left;
}

.app-main-inner .app-main-message-test .notification-text {
    width: 150px;
}

.app-main-section.app-main-operation-test .app-main-operation-info {
    float: right;
    position: relative;
}

.app-main-section.app-main-operation-test .app-main-operation-info .app-main-operation-info-section {
    padding: 1px 5px 2px 5px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    transition-property: border-color, background-color, color, text-shadow;
    transition-duration: var(--short-animation-duration);
    transition-timing-function: ease-in-out;
}

.app-main-section.app-main-operation-test .app-main-operation-info .app-main-operation-info-section.highlighted {
    background-color: #FFCC33;
    color: #333333;
    border-color: #333333;
    text-shadow: 0px 0px 3px #333333;
}

.app-main-section.app-main-operation-test .app-main-operation-info .app-main-operation-info-section .fa {
    width: 16px;
    position: relative;
    top: 1px;
}

.app-main-section.app-main-data {
    flex: 1 0 auto;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    text-align: left;
}

.app-main-section.app-main-data .app-main-user-config,
.app-main-section.app-main-data .app-main-app-info {
    flex: 1 1 auto;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    margin: 5px;
}

.app-main-section.app-main-data h2 {
    flex: 0 0 auto;
}

.app-main-section.app-main-data .inspector-json-wrapper {
    flex: 1 1 auto;
    background: #CCCCCC;
    overflow: auto;
}

.auto-close-duration-display {
    display: inline-block;
    min-width: 30px;
    text-align: right;
}


.theme-basic .app-main-inner input {
    cursor: pointer;
    color: #333333;
}

.theme-basic .app-main-inner input[type=button]:hover {
    background: #666666;
    color: #000000;
}

.theme-basic .app-main-inner input.button-disabled,
.theme-basic .app-main-inner input.button-disabled:hover {
    color: #666666;
    border-color: #666666;
    background: #CCCCCC;
    cursor: not-allowed;
}