<div class="main">
    <template v-if="appState.appError.error">
        <app-error ref="appError"></app-error>
    </template>
    <template v-else-if="appState.status.appShuttingDown">
        <app-loader ref="appShutdownLoader"></app-loader>
    </template>
    <template v-else-if="appState.status.appInitialized">
        <div class="app-main-inner">
            <h1>Default app-main view</h1>
            <div class="app-main-message-test">
                <h2>Test user messages and debug</h2>
                <input type="button" @click.prevent="testMessage" data-count="1" data-type="debug" value="debug" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="1" data-type="info" value="info" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="1" data-type="warning" value="warning" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="1" data-type="error" value="error" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="1" data-type="random" value="random" />
                <br />
                <br />
                <br />
                <input type="button" @click.prevent="testMessage" data-count="10" data-type="debug" value="debug X 10" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="10" data-type="info" value="info X 10" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="10" data-type="warning" value="warning X 10" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="10" data-type="error" value="error X 10" />
                &nbsp; <input type="button" @click.prevent="testMessage" data-count="10" data-type="random" value="random X 10" />
            </div>
            <div class="app-main-operation-test">
                <h2>Test app operation and statuses</h2>
                <div>
                    In progress: <span class="fa" v-bind:class="{'fa-square-o' : !operationInProgress, 'fa-check-square-o': operationInProgress}"></span><br />
                    Simulating: <span class="fa" v-bind:class="{'fa-square-o' : !isSimulating, 'fa-check-square-o': isSimulating}"></span><br />
                    Simulating interval: {{ formatDuration(duration/1000, true) }}s
                </div>
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': appState.appOperation.operationActive}" type="button" @click.prevent="operationStart" data-cancelable="1" value="operationStart (cancelable)" />
                &nbsp; <input v-bind:class="{'button-disabled': appState.appOperation.operationActive}" type="button" @click.prevent="operationStart" data-cancelable="0" value="operationStart (non-cancelable)" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || isSimulating}" type="button" @click.prevent="simulateProgress" value="Simulate progress" />
                &nbsp; <input v-bind:class="{'button-disabled': !isSimulating || duration <= 25 }" type="button" @click.prevent="increaseSpeed" value="Increase speed" />
                &nbsp; <input v-bind:class="{'button-disabled': !isSimulating || duration >= 1000 }" type="button" @click.prevent="decreaseSpeed" value="Decrease speed" />
                &nbsp; <input v-bind:class="{'button-disabled': !isSimulating }" type="button" @click.prevent="stopSimulating" value="Stop simulating" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) >= 99}" type="button" @click.prevent="operationIncrement" value="increment progress by 1" data-value="1" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) >= 90}" type="button" @click.prevent="operationIncrement" value="increment progress by 10" data-value="10" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) >= 80}" type="button" @click.prevent="operationIncrement" value="increment progress by 20" data-value="20" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) <= 10}" type="button" @click.prevent="operationIncrement" value="decrement progress by 10" data-value="-10" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress || parseInt(appState.progressData.percentComplete, 10) <= 20}" type="button" @click.prevent="operationIncrement" value="decrement progress by 20" data-value="-20" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (error)" data-status="error" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (idle)" data-status="idle" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (busy)" data-status="busy" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (success)" data-status="success" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (working)" data-status="working" />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="setStatus" value="Status (offline)" data-status="offline" />
                <br />
                <br />
                &nbsp; <input v-bind:class="{'button-disabled': !operationInProgress}" type="button" @click.prevent="operationFinish" value="Finish" />
            </div>
            <div class="app-main-data">
                <div class="app-main-user-config">
                    <h2>User config</h2>
                    <inspector-json v-bind:allowDrag="false" ref="userConfigInspector" v-bind:jsonData="appState.userConfig" v-bind:collapsed="1"></inspector-json>
                </div>
                <div class="app-main-app-info">
                    <h2>App info</h2>
                    <inspector-json v-bind:allowDrag="false" ref="userConfigInspector2" v-bind:jsonData="{appInfo: appState.config.appInfo, platformData: appState.platformData}" v-bind:collapsed="0"></inspector-json>
                </div>
            </div>
        </div>

    </template>
    <template v-else>
        <app-loader ref="appMainLoader"></app-loader>
    </template>
</div>