<div class="add-server-form">
    <transition-group name="highlight" tag="div" class="modal-form-messages" >
        <div v-bind:key="message" v-for="message in modalMessages" class="modal-message" :class="message.type">
            {{ message.message }}
        </div>
    </transition-group>
    <template v-if="editorStep == 1">
        <div class="form-row">
            <label class="required">
                Identifier:
            </label>
            <input type="text" v-model="serverConfig.identifier" />
        </div>
        <div class="form-row">
            <label class="required">
                Host:
            </label>
            <input type="text" v-model="serverConfig.host" />
        </div>
        <div class="form-row">
            <label class="required">
                Port:
            </label>
            <input type="text" v-model="serverConfig.port" />
        </div>
        <div class="form-row">
            <label class="required">
                Username:
            </label>
            <input type="text" v-model="serverConfig.user" />
        </div>
        <div class="form-row">
            <label class="required">
                Password:
            </label>
            <input type="text" v-model="serverConfig.password" />
        </div>
        <div class="form-row">
            <label class="required">
                Connection timeout (ms):
            </label>
            <input type="text" v-model="serverConfig.connectTimeout" />
        </div>
    </template>
    <template v-else-if="editorStep == 2">
        <div class="form-row">
            <label class="required">
                Identifier:
            </label>
            <input type="text" v-model="serverConfig.identifier" />
        </div>
        <div class="form-row">
            <label class="required">
                Database:
            </label>
            <select v-model="serverConfig.database">
                <option v-for="databaseName in databaseNames" :value="databaseName">{{ databaseName }}</option>
            </select>
        </div>
    </template>
    <template v-else-if="editorStep == 3">
        <div class="form-row">
            <label class="required">
                Identifier:
            </label>
            <input type="text" v-model="serverConfig.identifier" />
        </div>
        <div class="form-row">
            <label>
                Ignore tables:
            </label>
            <select size="10" multiple="multiple" v-model="serverConfig.ignoreTables">
                <option v-for="tableName in editorTables" :value="tableName">{{ tableName }}</option>
            </select>
        </div>
    </template>
</div>
